@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
:root {
  /* Cores */
  --verde: #2b6100;
  --verde-escuro: #204700;
  --verde-medio-escuro: #316e00;
  --verde-medio-claro: #4ead00;
  --verde-claro: #6bed00;
  --azul: #0a1861;
  --marrom: #611f0a;
  --marrom-claro: #ad3209;
  --verde-secundario: #58ad11;
}

body {
  min-height: 100vh;
  font-family: "Oxygen", sans-serif !important;
  background-color: #fff;
}

.menu-content {
  text-transform: uppercase;
}

.logo {
  letter-spacing: 0.4rem;
  color: var(--verde);
  padding: 1rem;
  text-decoration: none !important;
}

.menu-content .list-itens {
  margin-right: 90px;
  gap: 20px;
}

.menu-content .list-itens a {
  color: var(--verde) !important;
  transform: 2ms ease-in;
  position: relative;
}

.menu-content .list-itens a:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 1px;
  background-color: var(--verde-claro);
  transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before {
  width: 100%;
}

.text-green-dark {
  color: var(--verde) !important;
}

.a-card {
  text-decoration: none !important;
}

.a-card:hover {
  opacity: 0.9;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(43, 104, 15, 0.205);
  border-radius: 0.25rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.box-container .box a .content {
  padding: 2rem;
  text-align: center;
}

.box-container .box .content h3 {
  font-size: 2.5rem;
}

.margin-hr{
  margin-top:100px;
  margin-bottom: 60px;
}

/*Cards
==========================================================
*/
.card{
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 02rem;
  color: var(--dark-blue);
  margin-top: 30px;
}

.card h3{
  font-weight: normal;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p{
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;

}

.card.total{
  background-color: var(--verde);
  color: white;
}

.btn-codigo {
  color: #fff;
  background-color: var(--verde-medio-escuro);
  border-color: var(--verde-medio-escuro);
}

.btn-codigo:hover {
  color: #fff;
  background-color: var(--verde-escuro);
  border-color: var(--verde-escuro);
}

/*table
==========================================================
*/
#transactions{
  display: block;
  width: 100%;
  overflow-x: auto;
}
#data-table{
  width: 100%;
  border-spacing: 0 0.5rem;
}

table thead th{
  background: #fff;
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
  
}

table tbody td{
  background: #fff;
  padding: 1rem 2rem;
  
}

table tbody tr{
  opacity: 0.7;
}

table tbody tr:hover{
  opacity: 1;
}

td.income{
  color: var(--verde-medio-claro);
}

td.expense{
  color: red;
}